<article class="post">


    <div class="post-title" style="margin-bottom: 30px;font-size: 15px;">
        <h3 class="title" ><%= page.title %></h3>
    </div>

    <div class="post-content" style="line-height:26px;">
        <%- page.content %>
    </div>


    


</article>


