<footer>
<h3>About</h3>
<a href="https://www.douban.com/people/208635743/statuses" target="_blank">豆瓣</a><br>
<a href="https://m.okjike.com/users/B2E1C8D2-291B-44AF-9805-E15F0A9D9503" target="_blank">即刻</a><br>
<a href="/aboutme" target="_parent">About me</a><br>
<a href="/aboutthissite" target="_parent">About this site</a><br>
</footer>



<style type="text/css">

footer{
font-size: 15px;
margin:80px 0px 100px 0px;
line-height:26px;
}

a:link {color:black;line-height:26px;font-size:15px;font-family:Georgia, serif;}      /* 未访问链接*/
a:visited {color:black;}  /* 已访问链接 */
a:hover {color:black;}  /* 鼠标移动到链接上 */
a:active {color:black;}  /* 鼠标点击时 */

</style>